/*Accommodation Section Styling*/

.accommodations-section {
  padding: 30px;
}
.accommodations-header {
  padding: 25px 5px 30px 5px;
  font-size: 20px;
}

/*Custom Styling Accommodation Cards*/

.card-2 {
  display: flex;
  flex-basis: 100%;
}

.card-2 img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 2%;
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.card-2 .card-text {
  padding: 0 0 7px 18px;
}

input[type="button"] {
  background: none;
  color: black;
  border: none;
  font-size: 20px;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}
