/*Features Section - Accommodations*/

.accommodations {
    padding: 0.5em;
  }
  
  .accommodations-section {
    margin: 0;
    padding: 1.5em;
  }
  
  /*Card 2 Styling*/
  .card-2 h1 {
    height: 23px;
  }
  .card-2 img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 2%;
    height: 115px;
    max-width: 324px;
    padding: 5px;
  }
  
  .card-2-content-text {
    padding: 5px 15px;
  }