/*Activityies Section Style*/

.activity-section {
    padding: 0.5em;
  }
  
  .activity-section h3 {
    padding-bottom: 1em;
  }
  .activity {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  
  .card-3 img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 115px;
    max-width: 324px;
  }
  
  .card-3 h1 {
    height: 23px;
    padding: 10px;
  }