/*Activities Section Styling*/

.activities-section {
  padding: 10px;
  margin-bottom: 10px;
}

.activities-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.activities-header {
  padding: 25px 5px 30px 5px;
  font-size: 20px;
}

/*Custom Styling Activities Cards*/

.card-3 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  height: 100%;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  background-color: white;
  border-radius: 25px;
}

.card-3 img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
  height: 100%;
  height: 150px;
  width: 100%;
}

.card-3 .card-text {
  padding: 10px;
}
