/*Navigation Styling*/

.logo {
  width: 100px;
  height: auto;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.navbar-items {
  align-items: center;
}

.navbar-item {
  padding: 15px;
}

.ml-auto {
  margin-left: auto;
}

.navbar-link {
  padding: 15px;
}

.signup {
  color: #0065fc;
  font-weight: 700;
  order: 1;
}

.menuItem:hover {
  border-top: 3px solid #0065fc;
  padding: 30px;
  border-bottom: none;
  color: #0065fc;
}
