/*Navigation Styling*/
nav {
  margin: 20px;
}

ul {
  list-style: none;
  display: flex;
}

.logo {
  width: 100px;
}

.navbar-items {
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}

.navbar-link {
  padding: 15px;
}

.signup {
  color: #0065fc;
  font-weight: 700;
  order: 1;
}

.menuItem {
  padding: 32px;
}

.menuItem:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}
