.popular-section {
  padding: 30px;
}

.popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5px 30px 5px;
  font-size: 20px;
}

.card-1 {
  display: flex;
}

.card-1 img {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  object-fit: cover;
  height: 133px;
  width: 126px;
  padding: 5px;
}
.card-1 h1 {
  height: 55px;
}
