/*Navigation for devices under 599px*/

@media (max-width: 599px) {
  .hiddenDesktop {
    display: none;
  }

  .navbar-items {
    flex-wrap: wrap;
    align-items: center;
  }
  .navbar-item {
    width: 50%;
  }
  .navbar-item:nth-child(2) {
    text-align: right;
  }

  .navbar-item:nth-child(3),
  .navbar-item:nth-child(4) {
    text-align: center;
  }

  .signup {
    color: #0065fc;
    font-weight: 700;
    order: 0;
  }

  .menuItem {
    border-bottom: 3px solid #f2f2f2;
    padding: 15px;
  }

  .menuItem:hover {
    border-bottom: 3px solid #0065fc;
    border-top: none;
    padding: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /*Search bar*/
  .hiddenMobile {
    display: none;
  }

  .input-group-icon-submit {
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 0;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    text-align: center;
    line-height: 50px;
  }

  .search-button-desktop {
    font-size: 17px;
  }
  .popular-cards,
  .accommodation-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .card {
    flex: 0 1 calc(50% - 10px);
  }

  /*Activities Section Cards*/

  .activities-cards {
    grid-template-columns: 1fr 1fr;
  }

  /*Footer*/

  footer {
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-gap: 10px;
    padding-left: 30px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 800px) {
  nav {
    padding: 0 30px 0 30px;
  }

  .container {
    padding: 0 50px 0 50px;
  }
  /*Features Section Responsivnes and Styling*/

  footer {
    padding-left: 50px;
  }
}

@media (min-width: 992px) {
  /*Activites Section Responsivnes and Styling*/

  .features-section {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    padding: 0 50px;
  }

  .popular-section {
    min-width: 365px;
  }

  .popular-cards {
    flex-direction: column;
  }

  .accommodations-section {
    background-color: #f2f2f2;
  }

  .activities-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  .card-3-responsive:nth-child(2) {
    grid-row: 1 / span 2;
  }

  img.thumb {
    object-fit: cover;
    height: 84%;
  }

  .card-3-responsive:nth-child(4) {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
  @media (min-width: 1201px) {
    .card {
      flex: 0 1 calc(33.33% - 10px);
    }
  }
}
