/*Navigation for devices under 600px*/
@media (max-width: 600px) {
  .hiddenDesktop {
    display: none;
  }

  .hidden {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /*Header and Navbar*/
  .hiddenDesktop {
    display: none;
  }

  .hidden {
    display: none;
  }

  /*Search bar*/

  .input-group {
    width: 60%;
  }

  /*Features Section Cards*/
  .popular-cards,
  .accommodation-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    flex: 0 1 calc(50% - 10px);
  }

  /*Activities Section Cards*/

  .activities-cards {
    grid-template-columns: 1fr 1fr;
  }

  /*Footer*/

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /*Header and Navbar Responsivnes and Styling*/

  .hidden {
    display: contents;
  }

  .hiddenDesktop {
    display: contents;
  }

  .hiddenMobile {
    display: none;
  }

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 90px;
  }

  .logo {
    width: 100px;
    height: auto;
    padding-top: 20px;
  }

  .menuItem {
    padding: 30px 20px 0 20px;
    margin-right: 40px;
    border-bottom: none;
  }

  a.active {
    border-top: 3px solid #0065fc;
    border-bottom: none;
    color: #0065fc;
  }

  a.signup {
    border-bottom: none;
    color: #0065fc;
    font-weight: 700;
    padding: 30px 20px 0 20px;
  }

  /*Search bar and Button Styling*/

  .input-group {
    max-width: 500px;
  }

  .input-group-icon-submit {
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 0;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    text-align: center;
    line-height: 50px;
  }

  .search-button-desktop {
    font-size: 17px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 950px) {
  /*Features Section Responsivnes and Styling*/
  .features-section {
    display: flex;
    flex-direction: row-reverse;
  }

  .popular-section {
    min-width: 300px;
  }

  .popular-cards {
    flex-direction: column;
  }

  .accommodations-section {
    background-color: #f2f2f2;
    padding: 15px;
    margin-right: 15px;
  }

  .card {
    flex: 0 1 calc(33.33% - 10px);
  }

  /*Activites Section Responsivnes and Styling*/
  .activities-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto-flow);
    grid-gap: 7px;
  }

  .item-1 {
    grid-row: 1 / span 2;
  }

  .item-3 {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
}
