@media (min-width: 960px) {
  .signup {
    order: 1;
  }

  .input-group {
    width: 30%;
  }

  .input-group-icon-submit,
  button {
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
  }

  span.icon {
    display: none;
  }

  .features-section {
    margin: 1em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .accommodations {
    background-color: #f2f2f2;
    border-radius: 2%;
    margin-right: 5em;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-2 {
    flex: 0 1 calc(33.33% - 1em);
    margin-bottom: 1em;
  }

  .popular {
    border-radius: 2%;
  }

  .activity {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto-flow);
  }

  .item-1 {
    grid-row: 1 / span 2;
  }

  .item-3 {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
